footer.page-footer
	.page-footer__wrapper
		.page-footer__socials
			.page-footer__socials-icons
				p.page-footer__socials-icons-title Мы в социальных сетях
				.page-footer__socials-icons-group
					a(href="#").page-footer__socials-icons-item.page-footer__socials-icons-vk
						span.fa.fa-vk
					a(href="#").page-footer__socials-icons-item.page-footer__socials-icons-fb
						span.fa.fa-facebook
					a(href="#").page-footer__socials-icons-item.page-footer__socials-icons-inst
						span.fa.fa-instagram
			.page-footer__rights
				p © 2009-2017  «Eurozabori.ru».
				p Все права защищены.
			.page-footer__developer
				a(href="#") Сделано в IT-Construction + Naomee
		.page-footer__menu
			ul.page-footer__menu-company
				p.page-footer__menu-title Компания
				li.page-footer__menu-company-item
					a(href="#") О компании
				li.page-footer__menu-company-item
					a(href="#") Цены
				li.page-footer__menu-company-item
					a(href="#") Наши работы
				li.page-footer__menu-company-item
					a(href="#") Буклеты
				li.page-footer__menu-company-item
					a(href="#") Блог
				li.page-footer__menu-company-item
					a(href="#") Контакты
			ul.page-footer__menu-products
				p.page-footer__menu-title Продукция
				li.page-footer__menu-products-item
					a(href="#") Заборы
				li.page-footer__menu-products-item
					a(href="#") Временные ограждения
				li.page-footer__menu-products-item
					a(href="#") Готовые решения
				li.page-footer__menu-products-item
					a(href="#") Ворота и калитки
				li.page-footer__menu-products-item
					a(href="#") Комплектующие
			ul.page-footer__menu-info
				p.page-footer__menu-title Информация
				li.page-footer__menu-info-item
					a(href="#") Как сделать заказ
				li.page-footer__menu-info-item
					a(href="#") Способы оплаты
				li.page-footer__menu-info-item
					a(href="#") Возврат товара
				li.page-footer__menu-info-item
					a(href="#") Правила продажи
				li.page-footer__menu-info-item
					a(href="#") Публичная оферта
				li.page-footer__menu-info-item
					a(href="#") Возврат денежных средств
				li.page-footer__menu-info-item
					a(href="#") Доставка
				li.page-footer__menu-info-item
					a(href="#") Вопросы и ответы
		.page-footer__contacts
			.page-footer__contacts-phone
				p.page-footer__contacts-phone-title Телефон отдела продаж:
				a(href="#").page-footer__contacts-phone-link +7 (495) 108-24-65
			a(href="#").page-footer__contacts-mail info@eurozabori.ru
			.page-footer__contacts-adress
				p 109518, Россия, г. Москва,#[br] ул. Грайвороновская ул, 23
			a(href="#").page-footer__contacts-print-link
				+icon("print")
				|Версия для печати