section.about-main
	h2 О КОМПАНИИ
	.about-main__wrapper
		.about-main__content
			p Поговорим подробнее об ассортименте. Для удобства пользователей, мы разделили товары на несколько категорий, расположив их в отдельные разделы. #[br] #[br] Например, категория Заборы включает металлические всех разновидностей. Здесь вы сможете изучить перечень из сварной сетки или узнать о сварных панельных заборах; получить информацию об ограждениях из габионов, а также выбрать кованные. #[br] #[br] Когда-то клиентам нужны барьеры металлические, имеющие целевое предназначение. Например, пешеходные ограждения или шумозащитные экраны. Определяя вид ограды таким способом, можно получить готовое изделие с определенными параметрами, не занимаясь подбором отдельных элементов забора. #[br] #[br] На сайте вы можете найти не только сварные из прутьев, но и из профнастила, а также заборы из профильных труб. Из сетки рабицы – бюджетный вариант, подходящий многим не только по цене, но и по стилю исполнения. Металлический штакетник, который можно приобрести на сайте, поможет провести ремонтные работы или изготовить уникальное препятствие.
			a(href="#").about-main__content-link Читать далее
