section.catalogue-main
	h2 Каталог продукции
	.catalogue-main__wrapper
		ul.catalogue-main__list
			+catalogue_item("temp_barrier", "Временные ограждения")
			+catalogue_item("fence", "Заборы")
			+catalogue_item("catalogue_gates", "Ворота и калитки")
			+catalogue_item("catalogue_road", "Готовые решения")
			+catalogue_item("catalogue_wire", "Комплектующие")
