header.page-header
	.page-header__top-info
		.page-header__logo
			a(href="#")
			p.page-header__logo-text EUROZABORI.RU
			p.page-header__logo-subtext Заборы и ограждения в Москве
		.page-header__mobile-buttons.mobile
			a(href="#").page-header__call-btn
				span.fa.fa-phone
			button.page-header__burger-btn
		.page-header__input
			form(action="#")
				input(type="text" placeholder="Поиск по сайту").page-header__input-search
				span.fa.fa-search.page-header__input-icon
		.page-header__contact-info
			a(href="#").page-header__contact-info-mail info@eurozabori.ru
			a(href="#").page-header__contact-info-tel +7 (495) 108-24-65
		button(type="button").page-header__callback-btn Обратная связь
	.page-header__menu
		.page-header__menu-wrapper
			.page-header__menu-catalogue
				a(href="#").page-header__menu-catalogue-link Каталог продукции   
			nav.page-header__menu-navigation
				.page-header__menu-navigation-wrapper
					.mobile-menu__close-btn.mobile
						span.fa.fa-close
					ul.page-header__menu-navigation-list
						li.page-header__menu-navigation-item
							a(href="#").page-header__menu-navigation-link Цены   
						li.page-header__menu-navigation-item
							a(href="#").page-header__menu-navigation-link О компании 
						li.page-header__menu-navigation-item
							a(href="#").page-header__menu-navigation-link Наши работы   
						li.page-header__menu-navigation-item
							a(href="#").page-header__menu-navigation-link Буклеты
						li.page-header__menu-navigation-item
							a(href="#").page-header__menu-navigation-link Блог
						li.page-header__menu-navigation-item
							a(href="#").page-header__menu-navigation-link  Контакты     
					.page-header__input.mobile
						form(action="#")
							input(type="text" placeholder="Поиск по сайту").page-header__input-search
							span.fa.fa-search.page-header__input-icon
					.page-header__contact-info.mobile
						a(href="#").page-header__contact-info-mail info@eurozabori.ru
						a(href="#").page-header__contact-info-tel +7 (495) 108-24-65
					button(type="button").page-header__callback-btn.mobile Обратная связь
			a(href="#").page-header__menu-print-link
				+icon("print")
				|Версия для печати
		.page-header__menu-popup
			.page-header__menu-popup-wrapper
				ul.page-header__menu-popup-list
					li.page-header__menu-popup-item
						a(href="#").page-header__menu-popup-link Заборы
					li.page-header__menu-popup-item
						a(href="#").page-header__menu-popup-link Ворота и калитки 
					li.page-header__menu-popup-item
						a(href="#").page-header__menu-popup-link  Комплектующие
					li.page-header__menu-popup-item
						a(href="#").page-header__menu-popup-link Временные ограждения  
					li.page-header__menu-popup-item
						a(href="#").page-header__menu-popup-link  Готовые решения
	include ../components/banner
