extends source/page-template

block title
	title About

block content
	include components/callback-popup
	include about/page-header
	main(class="about-main")
		include components/breadcrumbs
			block breadcrumbs
				+breadcrumbs("Главная")
				+breadcrumbs("О компании")
		include about/content
	include about/page-footer