extends source/page-template

block title
	title Главная

block content
	include components/callback-popup
	include index/page-header
	main(class="index-main")
		include index/catalogue
		include index/barriers
		include index/about
	include index/page-footer