section.contacts-page
	.contacts-page__wrapper
		h2 КОНТАКТная информация
		.contacts-page__info
			.contacts-page__adress
				p 109518, Россия, #[br]г. Москва, ул. Грайвороновская ул, 23
			.contacts-page__tel
				p Телефон отдела продаж:
				a(href="#") +7 (495) 108-24-65
			.contacts-page__mail
				p E-mail:
				a(href="#") info@eurozabori.ru
	.contacts-page__map
		#map