section.catalogue-page
	.catalogue-page__wrapper
		.catalogue-page__header
			h2 Ворота и калитки
			.catalogue-page__counter Найдено 5 товаров
		.catalogue-page__content
			.catalogue-page__content-sidebar
				.catalogue-page__content-accordion(data-accordion)
					h3 Ворота распашные
					ul.catalogue-page__content-accordion-list
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки кованные
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки из профнастила
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки из профильных труб
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки  из сварной сетки
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки деревянные
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки каркас
					h3 Ворота откатные
					ul.catalogue-page__content-accordion-list
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки кованные
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки из профнастила
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки из профильных труб
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки  из сварной сетки
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки деревянные
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки каркас
					h3 Калитки
					ul.catalogue-page__content-accordion-list
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки кованные
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки из профнастила
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки из профильных труб
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки  из сварной сетки
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки деревянные
						li.catalogue-page__content-accordion-item
							a(href="#") Калитки каркас
			.catalogue-page__content-items
				include ../components/recent-view
					block recentItems
						+recentItem("Калитка кованная главзабор")
						+recentItem("Калитки капитальные (тип 701) для кованных ограждений")
						+recentItem("Калитки капитальные (тип 711) для кованных ограждений")
						+recentItem("Калитки капитальные (тип 721) для кованных ограждений")
						+recentItem("Калитки Winsiowski")
				.catalogue-page__content-description
					p В дизайне загородных домов, коттеджей и участков наиболее важным и интересующим всех (не только владельцев, но и администрацию населенного пункта, соседей и даже случайных прохожих) элементом являются калитки и ворота. Ведь действительно, это первое, что бросается в глаза, первое, что говорит о вашем статусе. #[br] #[br] И, конечно же, наиболее дорогим и качественным вариантом среди подобных изделий являются кованые калитки. Что же в них такого необычного, кроме стоимости, спросите вы? А бывали ли вы в пригороде Москвы или других больших городов? Вот где можно увидеть статусные ворота, заборы и дома. Огромную долю подобных ограждений составляют заборы из кованного металла, оснащенные соответствующими калитками и воротами. Такие калитки ярко отражают характер владельца, его статусные качества, а также элитарность его владений. #[br]#[br] Как же происходит процесс покупки и установки кованой калитки? Да очень просто! Первое, что вам нужно сделать, это зайти на наш сайт и выбрать тот вариант калитки, который придется по душе. Если такового нет, вы можете предложить собственное видение, которое будет воплощено в жизнь нашими мастерами художественной графики. Как партнеры лучших производителей кованых калиток, можем с уверенностью заявить – все наши заказчики остаются довольными. #[br]#[br]После разработки дизайна калитки кованной и выполнения самой ковки, вы сможете официально купить изделие, которое мы доставим прямо по указанному адресу и, при вашем желании, установим. Заказ вы можете осуществить из собственного дома, пользуясь лишь интернетом и телефоном. Купите свою кованую калитку и почувствуйте себя в центре внимания!
					a(href="#").catalogue-page__more-btn Читать далее