.banner
	.banner__wrapper
		.banner__slider
			.banner__slide(style="background-image: url(../img/banner.jpg)")
				a(href="#").banner__link
				.banner__slide-content
					p Широкий ассортимент #[br] систем ограждений #[br] и заборов
					p В наличии и под заказ
					a(href="#").banner__more-link Узнать больше
			.banner__slide(style="background-image: url(../img/banner.jpg)")
				a(href="#").banner__link
				.banner__slide-content
					p Широкий ассортимент #[br] систем ограждений #[br] и заборов
					p В наличии и под заказ
					a(href="#").banner__more-link Узнать больше
			.banner__slide(style="background-image: url(../img/banner.jpg)")
				a(href="#").banner__link
				.banner__slide-content
					p Широкий ассортимент #[br] систем ограждений #[br] и заборов
					p В наличии и под заказ
					a(href="#").banner__more-link Узнать большe