ul.barriers
	+barriers_item("construction_barrier", "Фото", "Забор для стройки")
	+barriers_item("court_barrier", "Статья", "Ограждения  спортивной площадки")
	+barriers_item("children_barrier", "Продукция", "Ограждения  детской площадки")
	+barriers_item("construction_barrier2", "Статья", "Ограждения стройки")
	+barriers_item("netlike_barrier", "Продукция", "Сетчатые ограждения")
	+barriers_item("road_barrier", "Фото", "Дорожные ограждения")
	a(href="#").barriers__more-link Смотреть больше