.callback-popup
	.callback-popup__form-wrapper
		form(action="#")
			.callback-popup__close-btn
				span.fa.fa-close
			h3.callback-popup__header Обратная связь
			input(type="text" placeholder="Ваше имя").callback-popup__input#callback-name
			input(type="text" placeholder="+7 (___) __-__-__").callback-popup__input#callback-phone
			input(type="text" placeholder="E-mail").callback-popup__input#callback-mail
			textarea(placeholder="Сообщение").callback-popup__input#callback-message
			button.callback-popup__submit-btn Отправить

