.recent-viewed
	h2 Недавно просмотренные
	.recent-viewed__wrapper
		ul.recent-viewed__list
			+recentItem("Калитка кованная главзабор")
			+recentItem("Калитки капитальные (тип 701) для кованных ограждений")
			+recentItem("Калитки капитальные (тип 711) для кованных ограждений")
			+recentItem("Калитки капитальные (тип 721) для кованных ограждений")

