section.item-card
	.item-card__wrapper
		.item-card__desc
			h2 Калитки капитальные (тип 701) для кованных ограждений
			.item-card__gallery
				.item-card__main-photo
					img(src="img/profile.jpg", alt="")
				.item-card__small-photos
					img(src="img/profile.jpg", alt="").item-card__photo_active
					img(src="img/profile.jpg", alt="")
					img(src="img/profile.jpg", alt="")
			.item-card__details
				.item-card__details-size
					h3 Типоразмеры
					p.item-card__size-height
						|Высота(мм):
						span 1500
						span 1700
						span 2000
						span 2200
						span 2400
						span 3000
					p.item-card__size-width
						|Ширина(мм):
						span 800
						span 1000
						span 1200
						span 1500
						span 2000
					a(href="#").item-card__order-btn Заказать
				.item-card__details-accordion(data-accordion)
					h3 Состав комплекта
					p Секции и столбы покрашены полимерным способом в один из стандартных цветов по RAL: 6005 (зеленый), 5010 (синий), 7040 (серый), 9016 (белый), 9005 (черный), 8017 (коричневый), 2004 (оранжевый). Покраска в другие цвета по RAL рассматривается по письменному запросу. Возможна наценка.
					h3 Антикоррозионная защита
					p Секции и столбы покрашены полимерным способом в один из стандартных цветов по RAL: 6005 (зеленый), 5010 (синий), 7040 (серый), 9016 (белый), 9005 (черный), 8017 (коричневый), 2004 (оранжевый). Покраска в другие цвета по RAL рассматривается по письменному запросу. Возможна наценка.
					h3 Гарантия
					p Секции и столбы покрашены полимерным способом в один из стандартных цветов по RAL: 6005 (зеленый), 5010 (синий), 7040 (серый), 9016 (белый), 9005 (черный), 8017 (коричневый), 2004 (оранжевый). Покраска в другие цвета по RAL рассматривается по письменному запросу. Возможна наценка.
	include ../components/recent-view

